[Desktop Entry]
Type=Application
Name=Lite Lime
Comment=A lightweight text editor written in Lua
Exec=lite-lime %F
Icon=lite-lime
Terminal=false
StartupWMClass=lite-lime
Categories=Development;IDE;
MimeType=text/plain;
